<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles/main.scss"></link>
    <title>COFFEEEEEEE</title>
  </head>

  <body>
    <a href='/'><img src='./assets/images/coffee_icon.png' alt="COFFEEEEEEE" style="padding: 10px;"></a>
    <div id="root"></div>
  </body>

<script src="bundle.js"></script>

</html>