.SearchBar {
    text-align: center;
    font-size: 20px;
  
    .filter-container {
        .filter {
            margin: 5px;
            background-color: transparent;
            border: 1px solid $main-color;
            border-radius: 3px;
        }
        .clickedFilter {
            margin: 5px;
            background-color: $main-color;
            border: 1px solid $main-color;
            border-radius: 3px;
            color: white;
        }
    }
}
  