.Cafe {
    text-align: center;
  
    .cafe-container {
        color: #F1EBEB;
        position: fixed;
        min-height: 90%;
        min-width: 100%;
        display: table;
    
        .cafe-info {
            display: table-cell;
            vertical-align: top;
            background-color: #CB8C62;
            padding: 1em;
            border-top: 10px solid white;
            border-right: 10px solid white;
            border-bottom: 10px solid white;
        }

        .side-gallery {
            display: table-cell;
            width: 15em;
            vertical-align: top;
            padding: 1em;
            border: 10px solid white;
            background-color: #815040;

            img {
                width: 200px;
                height: 200px;
            }
        }
    }
  
    h1 {
        display: inline-block;
        font-size: 50px;
        border-bottom: 1px solid wheat;
        padding-bottom: 10px;
    }
  
    p {
        font-size: 15px;
    }
  
    a {
        color: #815040;
        transition: 0.15s ease-in-out;
        text-decoration: none;
    }
  
    a:hover {
        transition: 0.15s ease-in-out;
        color: white;
        text-decoration: none;
    }
  
    button {
        display: inline-block;
        border: none;
        background-color: transparent;
        background-size: 100%;
        width: 75px;
        height: 75px;
        padding-left: 10px;
    
        img {
            width: inherit;
        }
    }
  
    button:focus {
        outline: 0;
    }
  
    .drink-list-container {
        padding: 10px;
    
        h3 {
            font-size: 25px;
            padding-bottom: 10px;
        }
    
        ul {
            padding-left: 50px;
            padding-right: 50px;
        }
    
        li {
            list-style: none; 
            display: inline-block;
            padding: 5px 10px;
        
            a {
            color: black;
            transition: 0.15s ease-in-out;
            text-decoration: none;
            padding: 5px 10px;
            background-color: white;
            }
        
            a:hover {
            transition: 0.15s ease-in-out;
            box-shadow: 0 1px 4px 0 $main-color;
            box-sizing: border-box;
            }
        }
    }
}
  
.Cafes {
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 20px 20px;
  
    .cafes-header {
        text-align: center;
        margin-bottom: 30px;
    }
  
    .cafe-list {
        ol {
            display: table;
            text-align: center;
            margin: 0 auto;
        }
    }
}
  
.CafeItem {
    cursor: pointer;
  
    a {
        color: black;
        transition: 0.15s ease-in-out;
        text-decoration: none;
    }
    
    a:hover {
        color: $main-color;
    }
  
    .cafe-title {
        text-align: center;
    }
}