@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import '../../components/UI/Spinner/Spinner';

/* Global Variables */
$main-font: 'Didact Gothic';
$head-font: 'Playfair Display';
$main-color: #c76838;

body {
  font-family: $main-font;
}

/* Homepage */
.header-particles {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#763300), color-stop(60%, #d7b787));
  background-image: -webkit-linear-gradient(top, #763300 0%, #d7b787 60%);
  background-image: -o-linear-gradient(top, #763300 0%, #d7b787 60%);
  background-image: linear-gradient(to bottom, #763300 0%, #d7b787 60%);
  z-index: -999;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

  .headerText {
    padding: 20px;
    position: absolute;
    text-align: center;
    font-size: 2em;
    color: #daebea;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 3px;
    text-shadow: #feffc2 0 0 5px;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
  }
}

.Map {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 55px;
}

/* Searchbar */
.search-container {
  text-align: center;
  font-size: 20px;

  .filter-container {
    .filter {
      margin: 5px;
      background-color: transparent;
      border: 1px solid $main-color;
      border-radius: 3px;
    }
    .clickedFilter {
      margin: 5px;
      background-color: $main-color;
      border: 1px solid $main-color;
      border-radius: 3px;
      color: white;
    }
  }
}

/* Layout */
.Content {
  margin-top: 55px;
}

/* UI */
.Button {
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  margin: 10px;
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

.Main {
  background-color: $main-color;
  box-shadow: 0px 4px 0px #8d3113;
}

.Main:active {
  background-color: #8d3113;
  box-shadow: 0 0 #8d3113;
}

.Success {
  background-color: rgb(164, 207, 104);
  box-shadow: 0px 4px 0px rgb(85, 121, 34);
}

.Success:active {
  background-color: rgb(85, 121, 34);
  box-shadow: 0 0 rgb(85, 121, 34);
}

.Danger {
  background-color: #cc5f5f;
  box-shadow: 0px 4px 0px #941717;
}

.Danger:active {
  background-color: #941717;
  box-shadow: 0 0 #941717;
}

/* Navbar */
.Navbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  nav {
    height: 100%;
  }
  .Logo {
    display: inline-block;
    vertical-align: middle;
  }
  @media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
  }
  
  a {
    color: black;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }
  
  a:hover {
    color: $main-color;
  }
}

.Logo {
  background-color: white;
  padding: 2px;
  height: 85%;
  box-sizing: border-box;
  border-radius: 5px;
  img {
    height: 100%;
  }
}

.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-shadow: white 1px 1px 2px;
    -webkit-font-smoothing: antialiased;
  }
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    a {
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
    }
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
      border-bottom: 4px solid black;
  }
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

@media (min-width: 500px) {
  .NavigationItems {
      flex-flow: row;
  }
}


/* Login/Register */

.Auth {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  
  label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.486);
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }

    input[type="email"] {
      margin-bottom: 10px;
      border-radius: 4px;
    }

    input[type="password"] {
      margin-bottom: 10px;
      border-radius: 4px;
    }

    .form-control:focus {
      z-index: 2;
      border-color: #2c3e50;
    }

    .form-button {
      background-color: $main-color;
      color: white;
      border: 0;
      transition: 0.15s ease-in-out;
      width: 100%;
      cursor: pointer;
      font-size: 1.2em;
      padding: 10px;
      box-shadow: 0px 4px 0px #8d3113;
      outline: none;
    }

    .form-button:focus {
      outline: none;
    }

    .form-button:active {
      background-color: #8d3113;
      box-shadow: 0 0 #8d3113;
    }

    p {
      margin-top: 10px;
      text-align: center;
    }

    a {
      color: #8d3113;
    }
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

/* Drinks */

.Drink {
  text-align: center;
  margin-top: 70px;

  h1 {
    display: inline-block;
  }

  button {
    display: inline-block;
    border: none;
    background-color: transparent;
    background-size: 100%;
    width: 50px;
    height: 50px;
    padding-left: 25px;

    img {
      width: inherit;
    }
  }

  button:focus {
    outline: 0;
  }

  .drink-cafe-list {
    a {
      color: black;
      transition: 0.15s ease-in-out;
      text-decoration: none;
    }
    
    a:hover {
      color: $main-color;
    }
  }
}

.Drinks {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .drinks-header {
    text-align: center;
  }

  .drinks-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 50px 0;
  }

  .DrinkItem {
    border-radius: 5px;
    cursor: pointer;
  
    a {
      color: black;
      transition: 0.15s ease-in-out;
      text-decoration: none;
    }
    
    a:hover {
      color: $main-color;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    .drink-title {
      text-align: center;
    }
  }
  
  .DrinkItem:hover {
    color: $main-color;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 1px 4px 0 rgba(85,85,85,.3);
    box-sizing: border-box;
  }  
}


/* Cafes */

.Cafe {
  margin-top: 70px;
  text-align: center;

  .cafe-container {
    color: white;
    position: absolute;
    top: 90px; right: 0; bottom: 0; left: 0;

    img {
      width: 100%;
      opacity: 0.75;
    }

    .cafe-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: black;
      opacity: 0.75;
      padding: 50px 100px 50px 100px;
    }
  }

  h1 {
    display: inline-block;
    font-size: 50px;
  }

  p {
    font-size: 15px;
  }

  a {
    color: $main-color;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }

  a:hover {
    transition: 0.15s ease-in-out;
    color: white;
    text-decoration: none;
  }

  button {
    display: inline-block;
    border: none;
    background-color: transparent;
    background-size: 100%;
    width: 75px;
    height: 75px;
    padding-left: 10px;

    img {
      width: inherit;
    }
  }

  button:focus {
    outline: 0;
  }

  .drink-list-container {
    padding: 10px;

    h3 {
      font-size: 25px;
      padding-bottom: 10px;
    }

    ul {
      padding-left: 50px;
      padding-right: 50px;
    }

    li {
      list-style: none; 
      display: inline-block;
      padding: 5px 10px;
  
      a {
        color: black;
        transition: 0.15s ease-in-out;
        text-decoration: none;
        padding: 5px 10px;
        background-color: white;
      }
  
      a:hover {
        transition: 0.15s ease-in-out;
        box-shadow: 0 1px 4px 0 $main-color;
        box-sizing: border-box;
      }
    }
  }
}

.Cafes {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .cafes-header {
    text-align: center;
    margin-bottom: 30px;
  }

  .cafe-list {
    ol {
      display: table;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.CafeItem {
  cursor: pointer;

  a {
    color: black;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }
  
  a:hover {
    color: $main-color;
  }

  .cafe-title {
    text-align: center;
  }
}

/* Bookmarks */

.Bookmarks {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .CafeBookmarkItem {
    .CafeItem {
      display: inline-block;
      margin: 10px;

      a {
        color: black;
        transition: 0.15s ease-in-out;
        text-decoration: none;
      }
      
      a:hover {
        color: $main-color;
      }
    }
    .DeleteBookmark {
      display: inline-block;
    }
  }

  .DrinkBookmarkItem {
    .DrinkItem {
      display: inline-block;
      margin: 10px;

      a {
        color: black;
        transition: 0.15s ease-in-out;
        text-decoration: none;
      }
      
      a:hover {
        color: $main-color;
      }
    }
    .DeleteBookmark {
      display: inline-block;
    }
  }

  .bookmarks-header {
    text-align: center;
  }

  .cafe-bookmarks-header {
    padding: 20px 20px;
  }

  .drink-bookmarks-header {
    padding: 20px 20px;
  }

}
 
.closebtn {
  float: right;
}
