@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

/* Global Variables */
$main-font: 'Didact Gothic';
$head-font: 'Playfair Display';

body {
  font-family: $main-font;
}

a {
  color: black;
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #0099F7;
}

/* Navbar */
.Navbar {
  padding: 20px 20px;
  position: relative;
  z-index: 1;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  a {
    color: black;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }
  
  a:hover {
    color: #0099F7;
  }
}

.navlinks {
  padding: 0;

  li {
    display: inline-block;
    padding: 0 0.5em;
    font-weight: 300;
  }
}

.Map {
  padding: 10px;
}

/* Login/Register */

.Auth {
  body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;
  }
  
  label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.486);
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }

    input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .form-control:focus {
      z-index: 2;
      border-color: #2c3e50;
    }

    .form-button {
      background-color: white;
      color: black;
      border: 2px solid white;
      transition: 0.15s ease-in-out;
      width: 100%;
      cursor: pointer;
      font-size: 1.2em;
    }

    .form-button:focus {
      outline: none;
    }

    .form-button:hover {
      background-color: black;
      color: white;
    }

    p {
      margin-top: 10px;
      text-align: center;
    }
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

/* Drinks */

.Drink {
  text-align: center;
  margin: 0 auto;
}

.Drinks {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .drinks-header {
    text-align: center;
  }

  .drinks-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 50px 0;
  }

  .DrinkItem {
    border-radius: 5px;
    cursor: pointer;
  
    .drink-title {
      text-align: center;
    }
  }
  
  .DrinkItem:hover {
    transition: 0.15s ease-in-out;
    box-shadow: 0 1px 4px 0 rgba(85,85,85,.3);
    box-sizing: border-box;
  }  
}

.DrinkItem {
  a {
    color: black;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }
  
  a:hover {
    color: #0099F7;
  }
}

/* Cafes */

.Cafe {
  margin: 0 auto;
  text-align: center;
}

.Cafes {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .cafes-header {
    text-align: center;
    margin-bottom: 30px;
  }

  .cafe-list {
    ol {
      display: table;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.CafeItem {
  cursor: pointer;

  a {
    color: black;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }
  
  a:hover {
    color: #0099F7;
  }

  .cafe-title {
    text-align: center;
  }
}

/* Bookmarks */

/* ref: https://github.com/umairraslam/expense-manager-mern/blob/master/client/css/App.css */

.Bookmarks {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .CafeBookmarkItem {
    .CafeItem {
      display: inline-block;
      margin: 10px;
    }
    .DeleteBookmark {
      display: inline-block;
    }
  }

  .DrinkBookmarkItem {
    .DrinkItem {
      display: inline-block;
      margin: 10px;
    }
    .DeleteBookmark {
      display: inline-block;
    }
  }

  .bookmarks-header {
    text-align: center;
  }

  .cafe-bookmarks-header {
    padding: 20px 20px;
  }

  .drink-bookmarks-header {
    padding: 20px 20px;
  }

}
 
.closebtn {
  float: right;
}
