@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

/* Global Variables */
$main-font: 'Didact Gothic';
$head-font: 'Playfair Display';

body {
  font-family: $main-font;
}

/* Searchbar */
.search-container {
  text-align: center;
  font-size: 20px;

  .adv-search-container {
    .filters {
      margin: 5px;
      background-color: transparent;
      border: 1px solid #A78C9E;
      border-radius: 3px;
    }
  }
}

/* Layout */
.Content {
  margin-top: 70px;
}

/* UI */
.Button {
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
}

.Success {
  background-color: #5C9210;
}

.Danger {
  background-color: #941717;
}

/* Navbar */
.Navbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  nav {
    height: 100%;
  }
  .Logo {
    display: inline-block;
    vertical-align: middle;
  }
  @media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
  }
  
  a {
    color: black;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }
  
  a:hover {
    color: #A78C9E;
  }
}

.Logo {
  background-color: white;
  padding: 4px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  img {
    height: 100%;
  }
}

.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    a {
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
    }
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
      border-bottom: 4px solid black;
  }
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

@media (min-width: 500px) {
  .NavigationItems {
      flex-flow: row;
  }
}

.Map {
  padding: 10px;
}

/* Login/Register */

.Auth {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  
  label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.486);
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }

    input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .form-control:focus {
      z-index: 2;
      border-color: #2c3e50;
    }

    .form-button {
      background-color: white;
      color: black;
      border: 2px solid white;
      transition: 0.15s ease-in-out;
      width: 100%;
      cursor: pointer;
      font-size: 1.2em;
    }

    .form-button:focus {
      outline: none;
    }

    .form-button:hover {
      background-color: black;
      color: white;
    }

    p {
      margin-top: 10px;
      text-align: center;
    }
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

/* Drinks */

.Drink {
  text-align: center;
  margin-top: 70px;

  h1 {
    display: inline-block;
  }

  button {
    display: inline-block;
    border: none;
    background-color: transparent;
    background-size: 100%;
    width: 50px;
    height: 50px;
    padding-left: 25px;

    img {
      width: inherit;
    }
  }

  button:focus {
    outline: 0;
  }

  .drink-cafe-list {
    a {
      color: black;
      transition: 0.15s ease-in-out;
      text-decoration: none;
    }
    
    a:hover {
      color: #A78C9E;
    }
  }
}

.Drinks {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .drinks-header {
    text-align: center;
  }

  .drinks-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 50px 0;
  }

  .DrinkItem {
    border-radius: 5px;
    cursor: pointer;
  
    a {
      color: black;
      transition: 0.15s ease-in-out;
      text-decoration: none;
    }
    
    a:hover {
      color: #A78C9E;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    .drink-title {
      text-align: center;
    }
  }
  
  .DrinkItem:hover {
    color: rgb(214, 164, 212);
    text-decoration: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 1px 4px 0 rgba(85,85,85,.3);
    box-sizing: border-box;
  }  
}


/* Cafes */

.Cafe {
  margin-top: 70px;
  text-align: center;

  .cafe-container {
    color: white;
    position: absolute;
    top: 90px; right: 0; bottom: 0; left: 0;

    img {
      width: 100%;
      opacity: 0.75;
    }

    .cafe-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: black;
      opacity: 0.75;
      padding: 50px 100px 50px 100px;
    }
  }

  h1 {
    display: inline-block;
    font-size: 50px;
  }

  p {
    font-size: 15px;
  }

  a {
    color: #A78C9E;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }

  a:hover {
    transition: 0.15s ease-in-out;
    color: white;
    text-decoration: none;
  }

  button {
    display: inline-block;
    border: none;
    background-color: transparent;
    background-size: 100%;
    width: 75px;
    height: 75px;
    padding-left: 10px;

    img {
      width: inherit;
    }
  }

  button:focus {
    outline: 0;
  }

  .drink-list-container {
    padding: 10px;

    h3 {
      font-size: 25px;
      padding-bottom: 10px;
    }

    ul {
      padding-left: 50px;
      padding-right: 50px;
    }

    li {
      list-style: none; 
      display: inline-block;
      padding: 5px 10px;
  
      a {
        color: black;
        transition: 0.15s ease-in-out;
        text-decoration: none;
        padding: 5px 10px;
        background-color: white;
      }
  
      a:hover {
        transition: 0.15s ease-in-out;
        box-shadow: 0 1px 4px 0 #A78C9E;
        box-sizing: border-box;
      }
    }
  }
}

.Cafes {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .cafes-header {
    text-align: center;
    margin-bottom: 30px;
  }

  .cafe-list {
    ol {
      display: table;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.CafeItem {
  cursor: pointer;

  a {
    color: black;
    transition: 0.15s ease-in-out;
    text-decoration: none;
  }
  
  a:hover {
    color: #A78C9E;
  }

  .cafe-title {
    text-align: center;
  }
}

/* Bookmarks */

/* ref: https://github.com/umairraslam/expense-manager-mern/blob/master/client/css/App.css */

.Bookmarks {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px 20px;

  .CafeBookmarkItem {
    .CafeItem {
      display: inline-block;
      margin: 10px;

      a {
        color: black;
        transition: 0.15s ease-in-out;
        text-decoration: none;
      }
      
      a:hover {
        color: #A78C9E;
      }
    }
    .DeleteBookmark {
      display: inline-block;
    }
  }

  .DrinkBookmarkItem {
    .DrinkItem {
      display: inline-block;
      margin: 10px;

      a {
        color: black;
        transition: 0.15s ease-in-out;
        text-decoration: none;
      }
      
      a:hover {
        color: #A78C9E;
      }
    }
    .DeleteBookmark {
      display: inline-block;
    }
  }

  .bookmarks-header {
    text-align: center;
  }

  .cafe-bookmarks-header {
    padding: 20px 20px;
  }

  .drink-bookmarks-header {
    padding: 20px 20px;
  }

}
 
.closebtn {
  float: right;
}
